.logo {
	text-align: left;
}

.btn {
	position:relative;
	top: -300px;
    text-shadow: none;
    border-width: 0 0 2px 0;
    -moz-box-shadow: inset 0 0 0 0;
    -webkit-box-shadow: inset 0 0 0 0;
    box-shadow: inset 0 0 0 0;
    padding: 14px 30px 12px 30px;
    font-weight: 500;
    font-size: 1.15em;
    background-image: none;
}

.btn.btn-primary {
    color: #fff;
    border-bottom-color: #c94727;
    letter-spacing: 0;
    font-size: 1.3em;
}

.canvas-targets {
  position:absolute;
}

video {
    position:relative;
    z-index:-1;
    opacity: 0.6;
    width: 100%;
}

h2,
h3 {
	padding-top: 5%;
	font-family: inherit;
	text-align: center;
	color:#FFF;
	text-decoration: bold;
}

.canvas-boxes.resultado-ok {
	background-color: green;
}

.boxes-container {
	text-align: center;
	padding-top: 5%;
}

.classification-container,
.level-container {
	text-align: center;
	background-color: #0e91a0;
}

.classification-container .classification-button,
.level-container .level-button {
	padding-top: 1%;
	display: inline-block;
	margin: 20px;
}
.classification-container .classification-button img,
.level-container .level-button img{
	border: 2px;
	border-style: solid;
	border-color: #0e91a0;
	border-radius: 25px;
}

.classification-container .classification-button img:hover,
.level-container .level-button img:hover{
	opacity: 0.6;
}